/* --------Navbar-------- */

.home-container {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;

}

.home-container-nav {
    display: flex;
    justify-content: center;
}

.home-container-nav-nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 65px;
    list-style: none;
    background-color: #fff;
    position: fixed;
    margin-top: 10px;
    z-index: 1000;
    border: 1px solid #000000;

}

.home-container-nav-nav-logo {
    width: 170px;
    padding: 20px 0 0 15px;
    margin-left: 20px;
}

.home-container-nav-nav-navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 0 30px 0 0;

}

.home-container-nav-nav-navBar li {
    font-weight: 300;
    padding: 19px 25px;

}

.home-container-nav-nav-navBar li:hover {
    background-color: rgb(255, 217, 0);
    color: #000000;
    font-weight: 300;
    cursor: pointer;
    padding: 19px 25px;
    /* Mettre le même padding sur les listes au-dessus pour éviter un décalage du texte lors du hover */
}

.home-container-nav-nav-callUs {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 0;
}

.home-container-nav-nav-callUs b {
    font-weight: 700;
}



/* --------Gallery-------- */

.home-container-gallery {
    width: 100%;
}

.home-container-gallery-img {
    background-image: url(./images/home-hero-background.webp);
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: contain center;
    background-size: cover;
    background-repeat: no-repeat;

}

.home-container-gallery-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;

}

.home-container-gallery-content p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 80px;
}

.home-container-gallery-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
    width: 40%;
    text-align: center;
}



/* --------Form-------- */

.home-container-gallery-img-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding: 70px;
    background-color: #fff;
    position: absolute;
    margin-top: 850px;
    z-index: 10;
}

.home-container-gallery-img-form h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.home-container-gallery-img-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.home-container-gallery-img-form-formulaire-name,
.home-container-gallery-img-form-formulaire-phone,
.home-container-gallery-img-form-formulaire-select {
    width: 300px;
    height: 50px;
    border: none;
    background-color: #f7f7f7;
    color: #000000;
    padding-left: 10px;
    font-weight: 100;
}

input::placeholder {
    color: #000000;
    padding-left: 10px;
    font-weight: 100;
}

.home-form-formulaire-submit button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #000000;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}